{% extends 'admin/layout.html.twig' %}

{% block content %}
    <div class="access-denied">
        <h1>Access Denied</h1>
        <p>Vous n'avez pas l'autorisation d'accéder à cette page.</p>
    </div>
{% endblock %}
