{% extends 'base.html.twig' %}

{% block title %}À propos - Encyclopédie des Fleurs{% endblock %}

{% block body %}
    <h1 class="text-center">À propos de l'Encyclopédie des Fleurs</h1>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="{{ asset('images/about.jpg') }}" alt="À propos de l'Encyclopédie des Fleurs" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <p>Bienvenue sur l'Encyclopédie des Fleurs, votre source complète d'informations sur les fleurs du monde entier.</p>
                
                <h2>Notre mission</h2>
                
                <p>Notre mission est de partager la beauté et la diversité des fleurs avec les amoureux de la nature, les jardiniers passionnés et tous ceux qui s'intéressent aux plantes. Nous nous efforçons de fournir des informations précises, détaillées et accessibles sur une vaste gamme de fleurs, de leurs caractéristiques botaniques à leur symbolique culturelle.</p>
                
                <h2>Notre équipe</h2>
                
                <p>L'équipe de l'Encyclopédie des Fleurs est composée de botanistes, d'horticulteurs et de passionnés de fleurs qui collaborent pour créer un contenu informatif et de qualité. Nous nous engageons à partager nos connaissances et notre amour des fleurs avec vous.</p>
                
                <h2>Comment utiliser le site</h2>
                
                <p>Sur notre site, vous trouverez des fiches détaillées sur différentes fleurs, y compris des descriptions, des photos, des conseils de culture et des informations sur leur utilisation dans l'art floral et la décoration. Utilisez la fonction de recherche pour trouver une fleur spécifique ou explorez nos catégories pour découvrir de nouvelles variétés.</p>
                
                <p>Nous espérons que vous apprécierez votre expérience sur l'Encyclopédie des Fleurs et que notre site deviendra une ressource précieuse pour votre passion des fleurs.</p>
            </div>
        </div>
    </div>
{% endblock %}

